/**
// Author: Ryan Carr
// Creation Date: April 28, 2015
// Revised: April 28, 2015
*/
body{
	background: -webkit-linear-gradient(rgb(250, 170,5), rgb(255, 165, 0));
    background: -moz-linear-gradient(rgb(250, 170,5), rgb(255, 165, 0));
    background: -o-linear-gradient(rgb(250, 170,163), rgb(255, 165, 0));
    background: linear-gradient(rgb(250, 170,163), rgb(255, 165, 0));
    
	}

#content{
    width: 95%;
    padding: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 1.2% auto;
    box-shadow: 5px 5px 10px black;
    border-radius: 10px;
    
    background: -webkit-linear-gradient(rgb(7, 107,163), rgb(124, 231, 245));
    background: -moz-linear-gradient(rgb(7, 107,163), rgb(124, 231, 245));
    background: -o-linear-gradient(rgb(7, 107,163), rgb(124, 231, 245));
    background: linear-gradient(rgb(7, 107,163), rgb(124, 231, 245));
    
   
}

.label{
  text-align: right; 
}

.data{
  font-weight: bold; 
}

.btn{
  display: inline-block;
  background-color: orange;
  width: 40%;
  margin-bottom: 10px;
  padding: 3px;
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover{
  text-shadow: 1px 1px 0.5px black;
  box-shadow: 1px 1px 0.5px black;  
}

.btn:active{
  #box-shadow: -1px 1px 0.5px black inset; 
  color: yellow;
}

#searchDiv>*{
  display: inline-block;
}

#clear{
  border: 1px solid white;
  border-radius: 5px;
  padding: 2px;
  cursor: pointer;  
}

#clear:hover{
  text-shadow: 1px 1px 0.5px black;
  box-shadow: 1px 1px 0.5px black; 
}

#email, #phone, #lastname, #firstname {
    padding-left: 8%;
}

#email:hover, #phone:hover{
  cursor: pointer;
  color: yellow;
}


#clearLocal{
    position: absolute;
    bottom: 0;
    right: 0;    
    border-radius: 5px;
    background: gray;
    padding: 3px;
    cursor: pointer;
}
#clearLocal:active{
    color: yellow;
    text-shadow: 1px 1px 0.5px black;    
    
}







